<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="layout">
    <div class="main">
        <div class="sections">
            <div class="section">
                <% data.forEach(function(item) { %>
                    <div class="card-frame">
                        <div class="column-sosmed-container roboto-regular">
                            <div class="f-row-right column-sosmed-sections">
                                <div class="btn-sosmed btn-fb" postid="<%=item.id%>">FB</div>
                                <div class="btn-sosmed">Insta</div>
                                <div class="btn-sosmed">TikT</div>
                                <div class="btn-sosmed">Tw</div>
                            </div>
                        </div>
                        <div class="card">
                            
                            <div class="article">
                                
    
                                <h2><%= item.title %></h2>
                                <div class="btn-sosmed">Edit</div>
                                <p><%= item.content %></p>
                                <p>Status: <%= item.status %></p>
                                
                            </div>
                            <div class="article">
    
                                <% if(item.image_urls !== ""){
                                    var imgs = item.image_urls + "";    
                                 %>
                                 <% var images = imgs.split('|'); %>
                                 <% images.forEach(function(imageUrl) { %>
                                     <img src="uploads/<%= imageUrl %>" alt="Image" style="width: 100px;">
                                 <% }); %>
                                 <%}%>
                     
                                 <% if(item.video_urls !== ""){
                                     var vids = item.video_urls + ""; 
                                 %>
                                 <% var videos = vids.split('|'); %>
                                 <% videos.forEach(function(videoUrl) { %>
                                     <video width="320" height="240" controls>
                                         <source src="uploads/<%= videoUrl %>" type="video/mp4">
                                         Your browser does not support the video tag.
                                     </video>
                                 <% }); %>
                                 <%}%>
                            </div>
                        </div>
                    </div>
                    
                <% }); %>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
      $('.btn-fb').on('click', function(e){
        //e.preventDefault(); // Prevent the default form submission
        //console.log($(e.target).attr('postid'));
        postid = $(e.target).attr('postid');
        
        var formData = { postid : postid}; // Create a FormData object passing the form
        
        console.log('formData', formData); 

        $.ajax({
          url: '/postfb', // The endpoint where you're submitting the form
          type: 'POST',
          data: formData,
          dataType: 'json',
          success: function(data){
            console.log(data);
          },
          error: function(xhr, status, error){
            console.error(error);
          }
        });
      });
      
    });
    </script>
    
